* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
/* navbar css */
#NAVBAR {
    margin-bottom: 10px;
    position: relative;
}

.xcontainer {
    width: 80%;
    margin: 0 auto;
    /* background-color: red; */
}
.top_contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.top_contact::after {
    content: '';
    display: block;
    width: 100%;
    background-color: #cccccc83;
    height: 1px;
    position: absolute;
    left: 0;
    top: 25px;
}
.my_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_list ul > li {
    list-style: none;
    display: inline-block;
    padding: 0 10px;
}
.nav_list ul > li:last-child {
    padding-right: 0;
}
/* navbar css end*/


/* home slide css */
#homeSlide {
    background: radial-gradient(circle, #4a4a4a87 40%, #323232d4 75%), linear-gradient(to right, #662424, #18020200),
    url(./mangrove-image.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-blend-mode: var(--blend-top, normal), var(--blend-bottom, saturation), normal;
    position: relative;
}
.home_bottom_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 80vh;
    justify-content: center;
}
.home_head {
    font-size: 30px;
    color: #ffb37c;
    font-weight: 800;
}
.home_head p:first-child {
    font-size: 50px;
    color: #D1E9FF;
}
.home_content {
    margin-top: 10px;
    color: #ffff;
    margin-bottom: 50px;
    font-size: 15px;
    width: 550px;
}
.home_btn > a {
    font-size: 16px;
    color: #ffffff;
    padding: 12px 20px;
    background-color: red;
    font-weight: 600;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.home_btn > a:first-child {
    margin-right: 20px;
    background-color: transparent;
    border: 1px solid #cccccc;
}
.home_btn > a:hover {
    background-color: #eeeeee70;
}


#CLGSFT {
    position: absolute;
    left: 45%;
    transform: translateX(-55%);
    bottom: -75px;
}
.clssft_all {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 40px 100px;
    background-color: #282828eb;
    border-radius: 100px;
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
}
.sft > p {
    font-size: 15px;
    font-weight: 500;
}
.sft {
    margin-left: 25px;
}
.sft:first-child {
    margin-left: 0;
}
/* home slide css end*/

/* CLGPLS css */
#CLGPLS {
    margin-top: 200px;
    padding-bottom: 80px;
}
.clgpls_all {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pls_card {
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #43B0FF;
    border-radius: 10px;
    text-align: center; 
}
.pls_card > h3 {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
    color: #2D6FD1;
}
.pls_card:first-child > h3 {
    color: #AE4369;
}
.pls_card:last-child > h3 {
    color: #4A1D94;
}
.pls_card > p {
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 0.3px;
    color: #585858;
}
/* CLGPLS css end*/

/* Describe Courses By Category css */
#COURSER_POPULER {
    padding-top: 100px;
    background: #F3F0FD;
    padding-bottom: 100px;
}
.cByCat_header, .populer_courses_header, .top_teachers_header, .facilites_header, .whyChooseHeader, .aboutMistHeader {
    text-align: center;
    font-size: 25px;
    margin-bottom: 80px;
}
.cByCat_header > p, .populer_courses_header> p, .top_teachers_header > p, .facilites_header > p, .whyChooseHeader > p {
    font-size: 14px;
    font-weight: 100;
    margin-top: 5px;
    color: #3b3b3beb;
}


.coursesByCategory {
    column-count: 4;
    line-height: 60px;
}
.coursesByCategory a {
    padding: 12px 20px;
    color: blueviolet;
    font-size: 16px;
    font-weight: 700;
    transition: all 0.3s ease;
    text-align: justify;
    
}
.coursesByCategory a:hover {
    color: #2f75f7;
    text-decoration: underline;
}




.most_populer_courses {
    margin-top: 100px;
    width: 100%;

}
.populer_courses_list {
    column-count: 3;
    margin-bottom: 50px;
}
.populer_courses_bottom_content {
    padding: 20px;
    box-sizing: border-box;
}
.populer_courses {
    background-color: #ffff;
    margin-bottom: 40px;
    text-align: center;
    width: 90%;
    margin-left: 50%;
    border-radius: 10px;
    box-shadow: -3px 5px 3px 0px #b3b3b3;
    transform: translateX(-50%);
}
.populer_courses > img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}
.populer_courses_bottom_content > h3 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.populer_courses_bottom_content > p {
    text-align: justify;
    margin-bottom: 20px;
}
.populer_courses_bottom_content > button {
    width: 100%;
    height: 40px;
    border: none;
    background-color: #1FAEFE;
    font-weight: 800;
    color: #ffff;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.populer_courses_bottom_content > button:hover {
    background-color: #54bdfa;
}
.courses_seeMoreBtn {
    text-align: center;
}
.courses_seeMoreBtn > a {
    padding: 10px 20px;
    background-color: transparent;
    color: #000000;
    font-size: 16px;
    font-weight: 800;
    border-radius: 100px;
    border: 1px solid #1FAEFE;
    transition: all 0.3s ease-in-out;  
} 
.courses_seeMoreBtn > a:hover {
    background-color: #54bdfa;
    color: white;
}


/* Describe Courses By Category css end*/

/* topRated_teachers css */
#topRated_teachers {
    margin-top: 100px;
    padding-bottom: 100px;
}
.all_teachersBtn {
    text-align: center;
    margin-bottom: 100px;
}
.top_teachers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.all_teachersBtn a {
    color: #242424;
    padding: 15px 25px;
    border-radius: 100px;
    border: 1px solid #ff0000;
    font-weight: 800;
    transition: all 0.3s ease-in-out;
}
.all_teachersBtn a:hover, .teacher_card_bottom_content button:hover {
    background-color: #ff0000;
    color: #ffffff;
}

.teachers_card {
    text-align: center;
    width: 400px;
    border: 1px solid;
    padding: 50px;
    box-sizing: border-box;
    margin-right: 50px;
    border: 1px solid #D6D6D6;
    border-radius: 10px;
}
.teachers_card:last-child {
    margin-right: 0;
}
.teachers_card > img {
    width: 80%;
    height: 100%;
    border-radius: 50%;
}
.teacher_card_bottom_content {
    margin-top: 50px;
}
.teacher_card_bottom_content h3 {
    color: #1E59CB;
    margin-bottom: 20px;
}
.teacher_card_bottom_content p {
    color: #494949;
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 30px;
}
.teacher_card_bottom_content button {
    width: 100%;
    height: 40px;
    border-radius: 100px;
    border: none;
    font-size: 16px;
    font-weight: 900;
    border: 1px solid #ff0000;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

/* topRated_teachers css end*/


/* ourFacilities css*/
#ourFacilities {
    padding-top: 100px;
    background-color: #E9F8FF;
}

.facilites_list {
    column-count: 2;
    margin-left: 40%;
    transform: translate(-50%);
    column-gap: 500px;
    margin-top: 100px;
}
.facilites_card {
    margin-bottom: 100px;
    width: 300px;
    color: #0056D8;
}
.facilites_card > p {
    width: 200px;
    color: #3a3a3a;
    font-size: 15px;
    margin-top: 10px;
    letter-spacing: 0.2px;
    font-weight: 100;
    line-height: 20px;
}
.facilites_card:nth-child(3) {
    position: relative;
}

.facilites_card:nth-child(3)::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -20px;
    width: 5px;
    height: 100%;
    background-color: red;
}

/* ourFacilities css start end*/

/* whyChoose css start */
#whyChoose, #aboutMist {
    margin-top: 100px;
    margin-bottom: 150px;
}
.whyChooseContent {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.whyChoose_limg {
    width: 150%;
    height: auto;
}
.whyChoose_limg img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: -8px 10px 9px #99d8eb;
}
.whyChoose_rcontent, .aboutMist_rcontent {
    margin-left: 100px;
    line-height: 40px;
}
.whyChoose_rcontent > h1, .aboutMist_rcontent > h1 {
    margin-bottom: 20px;
    color: #0aa9f3;
    font-size: 25px;
}
.whyChoose_rcontent > p, .aboutMist_rcontent > p {
    color: #4b4b4b;
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 50px;
}
.whyChoose_rcontent > span {
    font-size: 22px;
    font-weight: 800;
    color: #1175AD;
}
.signeture_main {
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;

}
.signeture_main img {
    width: 100px;
    height: 100%;
    margin-right: 20px;
}
.signeture_content > p {
    color: #4b4b4b;
    font-size: 15px;
    font-weight: 100;
    line-height: 15px;
}
/* whyChoose css end */


/* aboutMist css */
.aboutMistContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.aboutMist_limg img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 6px 3px 9px #999999;
}
.aboutMist_rcontent {
    width: 90%;
    margin-right: 100px;
}
.about_contact_btn a{
    padding: 15px 22px;
    font-size: 16px;
    font-weight: 800;
    color: #ffffff;
    background-color: #22A0FB;
    border-radius: 100px;
}
/* aboutMist end */


/* FOOTER css */
#FOOTER {
    background: #292929;
    padding-top: 100px;
    padding-bottom: 30px;
}

.footer_card_list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 50px;
}
.footer_card {
    width: 20%;
    margin-right: 10%;
    color: #ffffff;
}
.footer_header h3 {
    font-size: 25px;
    margin-bottom: 10px;
}
.footer_header p {
    font-size: 15px;
    font-weight: 800;
    margin-bottom: 20px;
}
.footer_card > p {
    font-weight: 800;
    font-size: 15px;
}
.footer_social_link a {
    display: block;
    margin-top: 20px;
}
.footer_social_link a {
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}
.footer_social_link a:hover {
    text-decoration: underline;
    color: #fc7c7c;
}

.bottom_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom_footer {
    color: #ffffff;
}
.footer_copy {
    font-weight: 800;
}

/* FOOTER css end*/